name = "metric-analyzer"
type = "javascript"
main = "worker.js"
compatibility_date = "2024-01-01"

[env.production]
vars = { ENVIRONMENT = "production" }

[observability]
[observability.logs]
enabled = true
invocation_logs = true
